{% load widget_tweaks %}
<form hx-post="{{ request.path }}" hx-target="this" hx-swap="innerHTML">
    {% if form.errors %}
        <ul class="error-messages">
            {% for error in form.errors.values %}
                {{ error.as_text }}
            {% endfor %}
        </ul>
    {% endif %}
    {% csrf_token %}

    {% with WIDGET_CLASS="form-control form-control-lg" %}
        <fieldset class="form-group">
            {% render_field form.name placeholder="Your Name" class+=WIDGET_CLASS %}
        </fieldset>
        <fieldset class="form-group">
            {% url 'check_email' as check_email_url %}
            {% render_field form.email placeholder="Email" class+=WIDGET_CLASS hx-get=check_email_url hx-trigger="keyup" hx-swap="innerHTML" hx-target="#email-exists" %}
            <div id="email-exists"></div>
        </fieldset>
        <fieldset class="form-group">
            {% render_field form.password placeholder="Password" class+=WIDGET_CLASS %}
        </fieldset>
    {% endwith %}
    <button class="btn btn-lg btn-primary pull-xs-right">
        Sign up
    </button>
</form>

