{% extends "base.html" %}
{% block content %}
    <div class="home-page">

        <div class="banner">
            <div class="container">
                <h1 class="logo-font">conduit</h1>
                <p>A place to share your knowledge.</p>
            </div>
        </div>

        <div class="container page">
            <div class="row">

                <div class="col-md-9">
                    <div class="feed-toggle">
                        <ul class="nav nav-pills outline-active">
                            <li class="nav-item">
                                <a class="nav-link disabled" href="">Your Feed</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="">Global Feed</a>
                            </li>
                        </ul>
                    </div>

                    {% for article in articles %}
                        <div class="article-preview">
                            <div class="article-meta">
                                {% if article.author.image %}
                                    <a href="profile.html"><img src="{{ article.author.image }}"/></a>
                                {% endif %}
                                <div class="info">
                                    <a href="" class="author">{{ article.author.get_full_name }}</a>
                                    <span class="date">{{ article.created|date }}</span>
                                </div>
                                <button class="btn btn-outline-primary btn-sm pull-xs-right">
                                    <i class="ion-heart"></i> 29
                                </button>
                            </div>
                            <a href="{{ article.get_absolute_url }}" class="preview-link">
                                <h1>{{ article.title }}</h1>
                                <p>{{ article.summary }}</p>
                                <span>Read more...</span>
                            </a>
                        </div>
                    {% endfor %}

                </div>

                <div class="col-md-3">
                    <div class="sidebar">
                        <p>Popular Tags</p>

                        <div class="tag-list">
                            {% for tag in tags %}
                                <a href="" class="tag-pill tag-default">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock content %}
