{% extends "base.html" %}
{% block content %}
    <div class="home-page" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <div class="banner">
            <div class="container">
                <h1 class="logo-font">conduit</h1>
                <p>A place to share your knowledge.</p>
            </div>
        </div>

        <div class="container page">
            <div class="row">

                <div class="col-md-9">
                    {% if user.is_authenticated %}
                        <div class="feed-toggle">
                            <ul class="nav nav-pills outline-active">
                                <li class="nav-item">
                                    <a class="nav-link{% if own_feed %} active{% endif %}" href="{{ request.path }}?own">Your Feed</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link{% if not own_feed %} active{% endif %}" href="{{ request.path }}">Global Feed</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}

                    {% for article in articles %}
                        {% include "articles/_article.html" %}
                    {% endfor %}

                </div>

                <div class="col-md-3">
                    <div class="sidebar">
                        <p>Popular Tags</p>

                        <div class="tag-list">
                            {% for tag in tags %}
                                <a href="{% url 'home' %}?tag={{ tag.name }}" class="tag-pill tag-default">{{ tag }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
{% endblock content %}
